.chat-main
  .group-info
    .group-info__left-item
      .group-info__left-item__group
        = @group.name
      .group-info__left-item__member
        Member :
        - for user in @group.users
          = user.name
    .group-info__right-item
      .group-info__right-item__edit
        = link_to edit_group_path(@group), class: "group-info__right-item__edit__link" do
          Edit
  .message-box
    = render @messages
  .message-form
    = form_for [@group, @message] do |f|
      .form__mask
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
      -# .form
      -#   = form_for [@group, @message] do |f|
      -#     .input-box
      -#       = f.text_field  :content, class: 'text', placeholder: '  type a message'
      -#         = f.label :image do
      -#           = icon('far', 'fa-image')
      -#           = f.file_field :image, class: 'image'
      -#     .submit-box
      -#       = f.submit 'Send', class: 'send', value: 'Send'
