.side-bar
  .side-header
    .header-box
      .header-box__name
        = current_user.name
      .header-box__icon
        = link_to new_group_path, class: "header-box__icon--btns" do
          %i.fa.fa-edit
        = link_to edit_user_path(current_user), class: "header-box__icon--btns" do
          %i.fa.fa-cog
  .side-groups
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group), class: "group-link" do
          .group-link__name
            = group.name
          .group-link__text
            = group.show_last_message